*, *::before, *::after {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'open sans', sans-serif;
  color:#3d3d3d;
  padding:0;
  margin:0;
  height:100%;
  background-color:#fff;


}


 #border{
	border-width:0.5em;
	border-color:#83FFE7;
	border-style:solid;
	z-index:1000;
	height:100%;
	width:100%;
	/*position:fixed;*/

}
/*
#page{
	background-color:#fff;
	padding:0 5em;
}*/



h1{
  font-weight:700;
  color:#83FFE7;
  font-size:2.5em;
}

h2{
  font-weight:600;
  color:#83FFE7;

}


h3{
  color:#3d3d3d;
  font-size:2em;


}

p{
	padding:0.25em 12em;
	margin:2em;
	text-align:left;


}

p.fig{
	font-size:0.9em;
	color:#888;
	padding-bottom:0.5em;
	padding-top:0;
	padding-left:0;
	padding-right:0;
	margin:0;
	text-align:center;
}

p#about{
	padding:0.5em;
}


a{
  text-decoration:none;
  border-bottom: 0.25em solid #3D3D3D;
  color:#3d3d3d;

}

a:hover, a:active, a:focus{
  border-bottom: 0.25em solid #83FFE7;
  color:#83FFE7;

}

a:hover img{
	border: 0.5em solid #83FFE7;
	position:relative;

}


a >img {
	border-bottom:0;
}

nav{
	padding:1.5em 1.15em 0.75em;

}

.logo{;
	width:72px;
	height:72px;
	padding:0;
	margin:0;
	border-bottom:0;
	
}

a .logo{
	border-bottom:0;
}
}

.projects{
	padding-top:3.5em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow:hidden;

}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;


.clear{
	clear:both;
}

.text-description{
	float:right;
}

.project-content{
	margin-right:auto;
	margin-left:auto;


}
/*testing overlay*/

/*.overlay-color:hover{
	width:100%;
	position:relative;
	opacity:0.5;
	background-color:#83FFE7;
	z-index:10;
	transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;


}*/


/*.overlay{
	background:#83FFE7;
	z-index:10;
	width:100%;
	transition: background 0.3s ease-out;
	padding:0;
	margin:0;
}*/








 	}